{% load static %}

<div class="ui inverted vertical segment art-footer">
    <div class="ui inverted center aligned container">

        <div class="ui inverted">
            <a href="{% url 'main_index_home' %}">
                <img src="{% static 'images/logo.png' %}" style="width: 40px;">
            </a>
        </div>

        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Карта сайта</a>
            <a class="item" href="#">Пользовательское соглашение</a>
            <a class="item" href="#">Контакты</a>
        </div>
    </div>
</div>
