{% load static %}

<div class="rt-footer">
    <div class="ui inverted vertical segment">
        <div class="ui inverted center aligned container">

            <div class="ui inverted">
                <a href="{% url 'main_index_home' %}">
                    <img src="{% static 'images/logo.png' %}" style="width: 40px;">
                </a>
            </div>

            <div class="ui horizontal inverted small divided link list">
                <span class="item">&copy; 2017 Минск</span>
                <a class="item" href="{% url 'main_index_contacts' %}">Контакты</a>
                <a class="item" href="{% url 'main_index_sitemap' %}">Карта сайта</a>
            </div>
        </div>
    </div>
</div>
