{% extends "layout/index.html" %}
{% load static %}

{% block content %}
<div class="ui grid container">
    <div class="row">
        <div class="twelve wide column">

            <div class="ui breadcrumb">
                <a class="section">Искусство романтизма</a>
                <span class="divider">/</span>
                <a class="section">Романтизм в Западной Европе</a>
                <span class="divider">/</span>
                <div class="active section">Литература</div>
            </div>

            <div class="ui text art-content">
                <h1 class="ui dividing header">Литература</h1>
                <p>Романти́зм (фр. romantisme) — идейное и художественное направление в культуре конца XVIII века — первой половины XIX века, характеризуется утверждением самоценности духовно-творческой жизни личности, изображением сильных (зачастую бунтарских) страстей и характеров, одухотворённой и целительной природы. Распространилось на различные сферы деятельности человека. В XVIII веке романтическим называли всё странное, живописное и существующее в книгах, а не в действительности. В начале XIX века романтизм стал обозначением нового направления, противоположного[1] классицизму и Просвещению.</p>

                <h2 class="ui dividing header">Философия романтизма</h2>
                <p>Категория возвышенного, центральная для романтизма, сформулирована Кантом в работе Критика способности суждения. По Канту, есть позитивное наслаждение прекрасным, выражающееся в спокойном созерцании, и есть негативное наслаждение возвышенным, бесформенным, бесконечным, вызывающее не радость, а изумление и осмысление. С воспеванием возвышенного связан интерес романтизма к злу, его облагораживание и диалектика добра и зла («Я — часть той силы, что вечно хочет зла и вечно совершает благо»).</p>
                <p>Просветительской идее прогресса и тенденции отбросить всё «устаревшее и отжившее» романтизм противопоставляет интерес к фольклору, мифу, сказке, к простому человеку, возвращение к корням и к природе.</p>
                <p>Тенденции к атеизму романтизм противопоставляет переосмысление религии. «Истинная религия — это чувство и вкус бесконечности»[2] (Шлейермахер). Деистической концепции Бога как Высшего Разума противопоставляется пантеизм и религия как форма чувственности, идея Живого Бога.</p>
                <p>По словам Бенедетто Кроче: «Философский романтизм поднял знамя того, что иногда называют не совсем точно интуицией и фантазией, в пику холодному разуму, абстрактному интеллекту»[3]. Проф. Жак Барзен отмечал, что нельзя считать романтизм бунтом против разума: это бунт против рационалистических абстракций[4]. Как пишет проф. Г. Сколимовский: «Признание логики сердца (о которой столь выразительно говорит Паскаль), признание интуиции и более глубокого смысла жизни является равносильным воскрешению человека, способного летать. Именно в защиту этих ценностей, против вторжения обывательского материализма, узкого прагматизма и механистического эмпиризма, восстал романтизм»[5].</p>

                <h2 class="ui dividing header">Романтизм в литературе</h2>
                <p>Романтизм впервые возник в Германии, в кругу писателей и философов йенской школы (В. Г. Ваккенродер, Людвиг Тик, Новалис, братья Ф. и А. Шлегели). Философия романтизма была систематизирована в трудах Ф. Шлегеля и Ф.Шеллинга</p>
                <p>Немецкий романтизм отличает интерес к сказочным и мифологическим мотивам, что особенно ярко выразилось в творчестве братьев Вильгельма и Якоба Гримм, Гофмана. Гейне, начиная своё творчество в рамках романтизма, позднее подверг его критическому пересмотру.</p>
                <p>В Англии романтизм во многом обусловлен германским влиянием. В Англии его первыми представителями являются поэты «Озёрной школы», Вордсворт и Кольридж. Они установили теоретические основы своего направления, ознакомившись во время путешествия по Германии с философией Шеллинга и взглядами первых немецких романтиков. Для английского романтизма характерен интерес к общественным проблемам: современному буржуазному обществу они противопоставляют старые, добуржуазные отношения, воспевание природы, простых, естественных чувств.</p>
                <p>Ярким представителем английского романтизма является Байрон, который, по выражению Пушкина, «облек в унылый романтизм и безнадежный эгоизм». Его творчество проникнуто пафосом борьбы и протеста против современного мира, воспеванием свободы и индивидуализма.</p>
                <p>Также к английскому романтизму относится творчество Шелли, Джона Китса, Уильяма Блейка.</p>
                <p>Романтизм получил распространение и в других европейских странах, например, во Франции (Шатобриан, Ж.Сталь, Ламартин, Виктор Гюго, Альфред де Виньи, Проспер Мериме, Жорж Санд), Италии (Н. У. Фосколо, А. Мандзони, Леопарди), Польше (Адам Мицкевич, Юлиуш Словацкий, Зыгмунт Красинский, Циприан Норвид) и в США (Вашингтон Ирвинг, Фенимор Купер, У. К. Брайант, Эдгар По, Натаниэль Готорн, Генри Лонгфелло, Герман Мелвилл).</p>
            </div>


            <div class="ui message">
                <div class="ui header">Реклама</div>
                <ul class="list">
                    <li>Мебель для вашей <a href="#">ванной комнаты</a> по хорошим ценам</li>
                    <li>Не пропусти скидки <a href="#">в магазине художественных товаров</a>! Лучшие предложения!</li>
                </ul>
            </div>

        </div>

        <div class="four wide right floated column">

            <div class="ui segment">
                <div class="ui header">Есть предложения?</div>
                <p>
                    Вы можете написать нам:<br>
                    <i class="mail icon"></i>
                    <a href="#">
                        Контакты
                    </a>
                </p>
            </div>

            <div class="ui vertical ad">
                <a href="#">
                    <img src="{% static 'images/ad.png' %}">
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
