{% extends "layout/index.html" %}
{% load static %}

{% block title %}
    {% firstof article.title section.title %}. История МХК
{% endblock %}

{% block content %}
<div class="ui grid container">
    <div class="row">
        <div class="twelve wide column">

            <div class="ui breadcrumb">

                <a href="{% url 'main_index_home' %}" class="section">Главная</a>
                <span class="divider">/</span>

{#                <a href="{% url 'main_article_show' section.parent.articles.all.0.id %}" class="section">{{ section.parent.title }}</a>#}
{#                <span class="divider">/</span>#}

                <div class="active section">{{ section.title }}</div>
            </div>

            {% if section.children.all %}
                <div style="margin: 30px 0 0;">
                    <div>
                        <b>Подразделы:</b>
                    </div>
                    <ul>
                        {% for section in section.children.all %}
                            <li>
                                {% if section.articles.all.0 %}
                                    <a href="{% url 'main_article_show' section.articles.all.0.id %}">{{ section.title }}</a>
                                {% else %}
                                    <span>{{ section.title }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="ui text rt-article">
                <h1 class="ui dividing header">
                    {% firstof article.title section.title %}
                </h1>

                <div class="" style="margin: 0 0 20px;">
                    {{ article.text|safe }}
                </div>

                <div class="ui horizontal list">
                    <div class="item">
                        <i class="checked calendar icon"></i>
                        <div class="content">
                            Дата создания: {{ article.created_at|date:"d E Y" }}
                        </div>
                    </div>
                </div>

            </div>

{#            <div class="ui message">#}
{#                <div class="ui header">Реклама</div>#}
{#                <ul class="list">#}
{#                    <li>Мебель для вашей <a href="#">ванной комнаты</a> по хорошим ценам</li>#}
{#                    <li>Не пропусти скидки <a href="#">в магазине художественных товаров</a>! Лучшие предложения!</li>#}
{#                </ul>#}
{#            </div>#}

        </div>

        <div class="four wide right floated column">

{#            <div class="ui segment">#}
{#                <div class="ui header">Есть предложения?</div>#}
{#                <p>#}
{#                    Вы можете написать нам:<br>#}
{#                    <i class="mail icon"></i>#}
{#                    <a href="{% url 'main_index_contacts' %}">#}
{#                        Контакты#}
{#                    </a>#}
{#                </p>#}
{#            </div>#}

{#            <div class="ui vertical ad">#}
{#                <a href="#">#}
{#                    <img src="{% static 'images/ad.png' %}">#}
{#                </a>#}
{#            </div>#}

        </div>
    </div>
</div>
{% endblock %}
