<li {% if is_main %}style="margin: 0 0 30px;"{% endif %}>

    <div {% if is_main %}style="font-weight: bold;"{% endif %}>
        {{ section.get_link|safe }}
{#        <span style="color: #999; font-size: 11px;">#}
{#            (id: {{ section.id }})#}
{#        </span>#}
    </div>

    {% if section.children.all %}
        <ul>
            {% for children in section.children.all %}
                {% include 'includes/sitemap-item.html' with section=children is_main=False %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
