{% extends "layout/index.html" %}

{% block title %}
    Контакты. История МХК
{% endblock %}

{% block content %}
<div class="ui container">

    <h1 class="ui dividing header">Контакты</h1>

    <div class="ui stackable two column grid">
        <div class="column">
            <p>
                Надеюсь, этот сайт поможет вам в&nbsp;изучении важной и&nbsp;нужной дисциплины&nbsp;&mdash;
                истории мировой художественной культуры.
            </p>
            <p>
                Над сайтом постоянно ведется работа по&nbsp;наполнению его текстовым и&nbsp;графическим материалом.
            </p>
            <p>
                Если у&nbsp;вас есть вопросы или предложения, можете отправлять
                их&nbsp;на&nbsp;<nobr>e-mail</nobr> <a href="mailto:a.potseluiko@gmail.com">a.potseluiko@gmail.com</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}
