{% extends "layout/index.html" %}

{% block content %}
<div class="ui container">
    <div class="ui five column doubling cards">

        {% for section in sections_list %}
            <div class="card">
                <a href="{% url 'main_article_show' 1 %}" class="image">
                    <img src="{{ section.photo }}">
                </a>
                <div class="content">
                    <a href="{% url 'main_article_show' 1 %}" class="header" style="font-size: 1.07142857rem;">
                        {{ section.title }}
                    </a>
                    <div class="meta">
                        {{ section.created_at|date:"d E Y" }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
